In [6]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
browser = Browser('chrome')

DriverNotFoundError: Driver for chrome was not found.

In [8]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

NameError: name 'browser' is not defined

In [9]:
html = browser.html
soup_obj = soup(html, 'html.parser')
table = soup_obj.find('table')
data = []
for row in table.find_all('tr'):
    cols = row.find_all(['th', 'td'])
    cols = [col.text.strip() for col in cols]
    data.append(cols)
df = pd.DataFrame(data[1:], columns=data[0])
print(df)

NameError: name 'browser' is not defined

In [10]:
# Extract data from all rows of the table
data = []
for row in table.find_all('tr'):
    cols = row.find_all(['th', 'td'])
    cols = [col.text.strip() for col in cols]
    data.append(cols)

# Define column headings
columns = ['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure']

# Convert the data into a pandas DataFrame with specified columns
df = pd.DataFrame(data[1:], columns=columns)

# Display the DataFrame
print(df)

NameError: name 'table' is not defined

In [11]:
# Examine current data types
print(df.dtypes)

# Convert data types
df['terrestrial_date'] = pd.to_datetime(df['terrestrial_date'])
df['sol'] = df['sol'].astype(int)
df['ls'] = df['ls'].astype(float)
df['month'] = df['month'].astype(int)
df['min_temp'] = df['min_temp'].astype(float)
df['pressure'] = df['pressure'].astype(float)

# Confirm changes
print(df.dtypes)

NameError: name 'df' is not defined

In [12]:
# Count unique months
num_months = df['month'].nunique()
print("Number of months on Mars:", num_months)

NameError: name 'df' is not defined

In [13]:
# Count Martian days (sols)
num_sols = df['sol'].nunique()
print("Number of Martian days worth of data:", num_sols)

NameError: name 'df' is not defined

In [14]:
# Calculate average minimum daily temperature for each month
avg_min_temp_by_month = df.groupby('month')['min_temp'].mean()

# Find coldest and warmest months
coldest_month = avg_min_temp_by_month.idxmin()
warmest_month = avg_min_temp_by_month.idxmax()

print("Coldest month on Mars:", coldest_month)
print("Warmest month on Mars:", warmest_month)

# Plot average minimum daily temperature for each month
plt.figure(figsize=(10, 6))
avg_min_temp_by_month.plot(kind='bar')
plt.title('Average Minimum Daily Temperature by Month')
plt.xlabel('Month')
plt.ylabel('Average Minimum Temperature (Celsius)')
plt.xticks(rotation=45)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

In [15]:
# Calculate average daily atmospheric pressure for each month
avg_pressure_by_month = df.groupby('month')['pressure'].mean()

# Find months with lowest and highest atmospheric pressure
lowest_pressure_month = avg_pressure_by_month.idxmin()
highest_pressure_month = avg_pressure_by_month.idxmax()

print("Month with lowest atmospheric pressure on Mars:", lowest_pressure_month)
print("Month with highest atmospheric pressure on Mars:", highest_pressure_month)

# Plot average daily atmospheric pressure for each month
plt.figure(figsize=(10, 6))
avg_pressure_by_month.plot(kind='bar')
plt.title('Average Daily Atmospheric Pressure by Month')
plt.xlabel('Month')
plt.ylabel('Average Pressure (Pa)')
plt.xticks(rotation=45)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

In [16]:
# Plot daily minimum temperature
plt.figure(figsize=(10, 6))
plt.plot(df['terrestrial_date'], df['min_temp'], marker='o', linestyle='-')
plt.title('Daily Minimum Temperature on Mars')
plt.xlabel('Terrestrial Date')
plt.ylabel('Minimum Temperature (Celsius)')
plt.xticks(rotation=45)
plt.grid(axis='both', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

In [17]:
# Define the file path for the CSV file
csv_file_path = "mars_data.csv"

# Export the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

print("Data has been saved to", csv_file_path)

NameError: name 'df' is not defined

In [1]:
csv_file_path = "mars_data.csv"

df.to_csv(csv_file_path, index=False)
print("Data has been saved to", csv_file_path)

NameError: name 'df' is not defined