In [7]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("budget_data.csv")

# Display the DataFrame
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [8]:
# Calculate the total number of months
total_months = len(df)

print("Total number of months:", total_months)

Total number of months: 86

In [9]:
# Calculate the net total amount of "Profit/Losses"
net_profit_losses = df["Profit/Losses"].sum()

print("Net total amount of Profit/Losses:", net_profit_losses)

Net total amount of Profit/Losses: 22564198

In [10]:

changes = df["Profit/Losses"].diff()


average_change = changes.mean()

print("Changes in Profit/Losses over the entire period:", changes)
print("Average of the changes:", average_change)

Changes in Profit/Losses over the entire period: 0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64
Average of the changes: -8311.105882352942

In [11]:

changes = df["Profit/Losses"].diff()


greatest_increase = changes.max()
greatest_decrease = changes.min()


date_of_greatest_increase = df.loc[changes.idxmax(), "Date"]
date_of_greatest_decrease = df.loc[changes.idxmin(), "Date"]

print("Greatest increase in profits:")
print("Date:", date_of_greatest_increase)
print("Amount:", greatest_increase)

print("\nGreatest decrease in profits:")
print("Date:", date_of_greatest_decrease)
print("Amount:", greatest_decrease)

Greatest increase in profits:
Date: Aug-16
Amount: 1862002.0

Greatest decrease in profits:
Date: Feb-14
Amount: -1825558.0

In [12]:
print("Financial Analysis")
print("-----------------------------------")
print(f"Total Months: {len(df)}")
print(f"Total: ${net_profit_losses}")
print(f"Average Change: ${average_change:.2f}")
print(f"Greatest Increase in Profits: {date_of_greatest_increase} (${greatest_increase})")
print(f"Greatest Decrease in Profits: {date_of_greatest_decrease} (${greatest_decrease})")

Financial Analysis
-----------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002.0)
Greatest Decrease in Profits: Feb-14 ($-1825558.0)