In [2]:
import pandas as pd
from pathlib import Path

In [3]:
school_data_to_load = Path("schools_complete.csv")
student_data_to_load = Path("students_complete.csv")

In [4]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
#Calculate total number of unique schools
total_unique_schools = school_data_complete['school_name'].nunique()
print("Total number of unique schools:", total_unique_schools)

Total number of unique schools: 15

In [7]:
#Calculate total number of students
total_students = school_data_complete['student_name'].nunique()
print("Total number of students:", total_students)

Total number of students: 32715

In [8]:
#Calculate total budget
total_budget = school_data_complete.groupby('school_name')['budget'].first().sum()
print("Total budget across all schools:", total_budget)

Total budget across all schools: 24649428

In [9]:
#Maths Score Average 
average_math_score = school_data_complete['math_score'].mean()
print("Average math score:", average_math_score)

Average math score: 78.98537145774827

In [10]:
#percentage of maths 
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
print("Percentage of students who passed math (score >= 70):", passing_math_percentage)

Percentage of students who passed math (score >= 70): 89.77533241632278

In [11]:
# Calculate the percentage of students who passed reading (reading scores greater than or equal to 70)
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students) * 100
print("Percentage of students who passed reading (score >= 70):", passing_reading_percentage)

Percentage of students who passed reading (score >= 70): 102.73574812777014

In [12]:
#overall
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(total_students) * 100
print("Overall Passing Rate (Math and Reading, score >= 70):", overall_passing_rate)

Overall Passing Rate (Math and Reading, score >= 70): 78.031484028733

In [13]:
school_data_complete['overall_passing_rate'] = (school_data_complete['math_score'] + school_data_complete['reading_score']) / 2

school_overall_passing = school_data_complete.groupby('school_name')['overall_passing_rate'].mean()

top_schools = pd.DataFrame(school_overall_passing).sort_values(by='overall_passing_rate', ascending=False)

top_schools.head(5)

                    overall_passing_rate
school_name
Pena High School               83.942308
Wright High School             83.818611
Holden High School             83.809133
Thomas High School             83.633639
Wilson High School             83.631844

In [14]:

school_data_complete['overall_passing_rate'] = (school_data_complete['math_score'] + school_data_complete['reading_score']) / 2
school_overall_passing = school_data_complete.groupby('school_name')['overall_passing_rate'].mean()
bottom_schools = pd.DataFrame(school_overall_passing).sort_values(by='overall_passing_rate', ascending=True)
bottom_schools.head(5)

                       overall_passing_rate
school_name
Rodriguez High School             78.793698
Huang High School                 78.906068
Ford High School                  78.924425
Figueroa High School              78.934893
Johnson High School               79.019429

In [15]:

math_scores_by_grade = student_data.groupby(['school_name', 'grade'])['math_score'].mean().unstack()

math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

print("Math Scores by Grade:")
print(math_scores_by_grade)

Math Scores by Grade:
grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [16]:
reading_scores_by_grade = student_data.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()

reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]
print("\nReading Scores by Grade:")
print(reading_scores_by_grade)

Reading Scores by Grade:
grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [17]:
# Calculate the percentage of students who passed math (score >= 70)
passing_math_percentage = (passing_math_count / total_students) * 100
print("Percentage of students who passed math (score >= 70):", passing_math_percentage)

# Calculate the percentage of students who passed reading (score >= 70)
passing_reading_percentage = (passing_reading_count / total_students) * 100
print("Percentage of students who passed reading (score >= 70):", passing_reading_percentage)

# Calculate the percentage of students who passed both math and reading (score >= 70)
overall_passing_percentage = (passing_math_reading_count / total_students) * 100
print("Overall Passing Rate (Math and Reading, score >= 70):", overall_passing_percentage)

Percentage of students who passed math (score >= 70): 89.77533241632278
Percentage of students who passed reading (score >= 70): 102.73574812777014
Overall Passing Rate (Math and Reading, score >= 70): 78.031484028733

In [20]:
#Group by school
school_grouped = school_data_complete.groupby('school_name')


#Calculate total students in each school
total_students_per_school = school_grouped['Student ID'].count()

#Calculate total school budget per school
total_budget_per_school = school_grouped['budget'].mean()

#Calculate per student budget per school
per_student_budget_per_school = total_budget_per_school / total_students_per_school

#Calculate average math score per school
average_math_score_per_school = school_grouped['math_score'].mean()

#Calculate average reading score per school
average_reading_score_per_school = school_grouped['reading_score'].mean()

#Calculate percentage passing math per school
passing_math_per_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()
percent_passing_math_per_school = (passing_math_per_school / total_students_per_school) * 100

#Calculate percentage passing reading per school
passing_reading_per_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
percent_passing_reading_per_school = (passing_reading_per_school / total_students_per_school) * 100

#Calculate percentage passing both math and reading per school
passing_both_per_school = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('school_name')['Student ID'].count()
percent_passing_both_per_school = (passing_both_per_school / total_students_per_school) * 100

#Create DataFrame to summarize key metrics about each school
school_summary_df = pd.DataFrame({
    'School Type': school_grouped['type'].first(),
    'Total Students': total_students_per_school,
    'Total School Budget': total_budget_per_school,
    'Per Student Budget': per_student_budget_per_school,
    'Average Math Score': average_math_score_per_school,
    'Average Reading Score': average_reading_score_per_school,
    '% Passing Math': percent_passing_math_per_school,
    '% Passing Reading': percent_passing_reading_per_school,
    '% Overall Passing': percent_passing_both_per_school
})

# Display the DataFrame
print(school_summary_df)

                      School Type  Total Students  Total School Budget  \
school_name
Bailey High School       District            4976            3124928.0
Cabrera High School       Charter            1858            1081356.0
Figueroa High School     District            2949            1884411.0
Ford High School         District            2739            1763916.0
Griffin High School       Charter            1468             917500.0
Hernandez High School    District            4635            3022020.0
Holden High School        Charter             427             248087.0
Huang High School        District            2917            1910635.0
Johnson High School      District            4761            3094650.0
Pena High School          Charter             962             585858.0
Rodriguez High School    District            3999            2547363.0
Shelton High School       Charter            1761            1056600.0
Thomas High School        Charter            1635            1043130.0
Wilson High School        Charter            2283            1319574.0
Wright High School        Charter            1800            1049400.0

                       Per Student Budget  Average Math Score  \
school_name
Bailey High School                  628.0           77.048432
Cabrera High School                 582.0           83.061895
Figueroa High School                639.0           76.711767
Ford High School                    644.0           77.102592
Griffin High School                 625.0           83.351499
Hernandez High School               652.0           77.289752
Holden High School                  581.0           83.803279
Huang High School                   655.0           76.629414
Johnson High School                 650.0           77.072464
Pena High School                    609.0           83.839917
Rodriguez High School               637.0           76.842711
Shelton High School                 600.0           83.359455
Thomas High School                  638.0           83.418349
Wilson High School                  578.0           83.274201
Wright High School                  583.0           83.682222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  % Overall Passing
school_name
Bailey High School             81.933280          54.642283
Cabrera High School            97.039828          91.334769
Figueroa High School           80.739234          53.204476
Ford High School               79.299014          54.289887
Griffin High School            97.138965          90.599455
Hernandez High School          80.862999          53.527508
Holden High School             96.252927          89.227166
Huang High School              81.316421          53.513884
Johnson High School            81.222432          53.539172
Pena High School               95.945946          90.540541
Rodriguez High School          80.220055          52.988247
Shelton High School            95.854628          89.892107
Thomas High School             97.308869          90.948012
Wilson High School             96.539641          90.582567
Wright High School             96.611111          90.333333

In [21]:
#DATA SORT
top_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=False).head(5)

#top performing schools
print("Top Performing Schools (by % Overall Passing):")
print(top_schools)

Top Performing Schools (by % Overall Passing):
                    School Type  Total Students  Total School Budget  \
school_name
Cabrera High School     Charter            1858            1081356.0
Thomas High School      Charter            1635            1043130.0
Griffin High School     Charter            1468             917500.0
Wilson High School      Charter            2283            1319574.0
Pena High School        Charter             962             585858.0

                     Per Student Budget  Average Math Score  \
school_name
Cabrera High School               582.0           83.061895
Thomas High School                638.0           83.418349
Griffin High School               625.0           83.351499
Wilson High School                578.0           83.274201
Pena High School                  609.0           83.839917

                     Average Reading Score  % Passing Math  % Passing Reading  \
school_name
Cabrera High School              83.975780       94.133477          97.039828
Thomas High School               83.848930       93.272171          97.308869
Griffin High School              83.816757       93.392371          97.138965
Wilson High School               83.989488       93.867718          96.539641
Pena High School                 84.044699       94.594595          95.945946

                     % Overall Passing
school_name
Cabrera High School          91.334769
Thomas High School           90.948012
Griffin High School          90.599455
Wilson High School           90.582567
Pena High School             90.540541

In [23]:

bottom_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=True).head(5)


print("Lowest Performing Schools (by % Overall Passing):")
print(bottom_schools)

Lowest Performing Schools (by % Overall Passing):
                      School Type  Total Students  Total School Budget  \
school_name
Rodriguez High School    District            3999            2547363.0
Figueroa High School     District            2949            1884411.0
Huang High School        District            2917            1910635.0
Hernandez High School    District            4635            3022020.0
Johnson High School      District            4761            3094650.0

                       Per Student Budget  Average Math Score  \
school_name
Rodriguez High School               637.0           76.842711
Figueroa High School                639.0           76.711767
Huang High School                   655.0           76.629414
Hernandez High School               652.0           77.289752
Johnson High School                 650.0           77.072464

                       Average Reading Score  % Passing Math  \
school_name
Rodriguez High School              80.744686       66.366592
Figueroa High School               81.158020       65.988471
Huang High School                  81.182722       65.683922
Hernandez High School              80.934412       66.752967
Johnson High School                80.966394       66.057551

                       % Passing Reading  % Overall Passing
school_name
Rodriguez High School          80.220055          52.988247
Figueroa High School           80.739234          53.204476
Huang High School              81.316421          53.513884
Hernandez High School          80.862999          53.527508
Johnson High School            81.222432          53.539172

In [24]:
#math
math_scores_by_grade = school_data_complete.pivot_table(values='math_score', index='school_name', columns='grade', aggfunc='mean')[['9th', '10th', '11th', '12th']]
print("Math Scores by Grade:")
print(math_scores_by_grade)

#english/reading
reading_scores_by_grade = school_data_complete.pivot_table(values='reading_score', index='school_name', columns='grade', aggfunc='mean')[['9th', '10th', '11th', '12th']]
print("\nReading Scores by Grade:")
print(reading_scores_by_grade)

Math Scores by Grade:
grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

Reading Scores by Grade:
grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [26]:
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]


school_summary_df['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], spending_bins, labels=group_names)

avg_math_score_spending = school_summary_df.groupby('Spending Ranges (Per Student)')['Average Math Score'].mean()

avg_reading_score_spending = school_summary_df.groupby('Spending Ranges (Per Student)')['Average Reading Score'].mean()


percent_passing_math_spending = school_summary_df.groupby('Spending Ranges (Per Student)')['% Passing Math'].mean()


percent_passing_reading_spending = school_summary_df.groupby('Spending Ranges (Per Student)')['% Passing Reading'].mean()


percent_passing_overall_spending = school_summary_df.groupby('Spending Ranges (Per Student)')['% Overall Passing'].mean()


scores_by_spending = pd.DataFrame({
    'Average Math Score': avg_math_score_spending,
    'Average Reading Score': avg_reading_score_spending,
    '% Passing Math': percent_passing_math_spending,
    '% Passing Reading': percent_passing_reading_spending,
    '% Overall Passing': percent_passing_overall_spending
})

# Display the table
print("Scores by School Spending:")
print(scores_by_spending)

Scores by School Spending:
                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  90.369459
$585-630                               81.418596
$630-645                               62.857656
$645-680                               53.526855

In [28]:
#PD CUT
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

school_summary_df['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], bins=spending_bins, labels=group_names, include_lowest=True)

scores_by_spending = school_summary_df.groupby('Spending Ranges (Per Student)').agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})

print("Scores by School Spending:")
print(scores_by_spending)

Scores by School Spending:
                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  90.369459
$585-630                               81.418596
$630-645                               62.857656
$645-680                               53.526855

In [31]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], bins=size_bins, labels=size_labels)
size_summary = school_summary_df.groupby('School Size').agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})


print("Size Summary:")
print(size_summary)

type_summary = school_summary_df.groupby('School Type').agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})

print("Type Summary:")
print(type_summary)

Size Summary:
                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.821598              83.929843       93.550225
Medium (1000-2000)           83.374684              83.864438       93.599695
Large (2000-5000)            77.746417              81.344493       69.963361

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               96.099437          89.883853
Medium (1000-2000)          96.790680          90.621535
Large (2000-5000)           82.766634          58.286003
Type Summary:
             Average Math Score  Average Reading Score  % Passing Math  \
School Type
Charter               83.473852              83.896421       93.620830
District              76.956733              80.966636       66.548453

             % Passing Reading  % Overall Passing
School Type
Charter              96.586489          90.432244
District             80.799062          53.672208